banner {
    background-color: olive;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
}
body {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;


    text-align: center;
    text-decoration: underline;

}


}
.banner input {
    width: 70%;
    position: relative;
    margin: 10px 20px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background:transparent;
    padding: 1px;

}
.button {
    background-color: gold;
    color: darkblue;
    text-align: center;
    padding: 5px;
}
.button button{
    padding: 10px;
    width:100% ;
    color:blue ;
    background: ;
    border: ;



















}